:root {
  --white: rgb(255 255 255);
  --off-white: rgb(250 251 252);
  --black: rgb(0 0 0);
  --gray-0: rgb(245 246 247);
  --gray-50: rgb(237 239 242);
  --gray-100: rgb(215 218 224);
  --gray-200: rgb(192 196 204);
  --gray-300: rgb(162 168 178);
  --gray-400: rgb(138 145 158);
  --gray-500: rgb(109 115 128);
  --gray-600: rgb(91 97 110);
  --gray-700: rgb(74 80 92);
  --gray-800: rgb(50 55 64);
  --gray-900: rgb(35 39 46);
  --gray-1000: rgb(25 28 33);
  --deep-gray-600: rgb(59 60 64);
  --deep-gray-700: rgb(49 51 56);
  --deep-gray-800: rgb(40 41 46);
  --deep-gray-850: rgb(35 37 41);
  --deep-gray-900: rgb(31 32 36);
  --deep-gray-950: rgb(26 27 31);
  --deep-gray-975: rgb(23 24 28);
  --deep-gray-1000: rgb(19 20 23);
  --neon-blue-0: rgb(247 245 255);
  --neon-blue-50: rgb(234 227 255);
  --neon-blue-100: rgb(221 208 255);
  --neon-blue-200: rgb(184 163 255);
  --neon-blue-300: rgb(152 123 255);
  --neon-blue-400: rgb(126 90 255);
  --neon-blue-500: rgb(104 63 252);
  --neon-blue-600: rgb(80 44 214);
  --neon-blue-700: rgb(62 31 176);
  --neon-blue-800: rgb(47 22 138);
  --neon-blue-900: rgb(34 15 99);
  --neon-blue-1000: rgb(25 18 51);
  --sky-0: rgb(242 249 255);
  --sky-50: rgb(222 237 252);
  --sky-100: rgb(193 224 255);
  --sky-200: rgb(151 203 255);
  --sky-300: rgb(100 177 255);
  --sky-400: rgb(31 144 255);
  --sky-500: rgb(0 112 221);
  --sky-600: rgb(4 91 178);
  --sky-700: rgb(8 74 140);
  --sky-800: rgb(13 57 102);
  --sky-900: rgb(16 37 58);
  --sky-1000: rgb(11 23 36);
  --green-0: rgb(240 252 244);
  --green-50: rgb(205 250 218);
  --green-100: rgb(169 235 189);
  --green-200: rgb(129 214 154);
  --green-300: rgb(95 191 124);
  --green-400: rgb(56 160 87);
  --green-500: rgb(20 132 54);
  --green-600: rgb(12 108 41);
  --green-700: rgb(1 87 27);
  --green-800: rgb(0 67 20);
  --green-900: rgb(5 46 17);
  --green-1000: rgb(17 26 20);
  --orange-0: rgb(255 245 237);
  --orange-50: rgb(251 229 211);
  --orange-100: rgb(248 203 169);
  --orange-200: rgb(234 165 112);
  --orange-300: rgb(220 132 65);
  --orange-400: rgb(205 104 27);
  --orange-500: rgb(189 83 2);
  --orange-600: rgb(163 71 0);
  --orange-700: rgb(130 56 0);
  --orange-800: rgb(99 43 0);
  --orange-900: rgb(61 28 3);
  --orange-1000: rgb(38 18 2);
  --red-0: rgb(252 245 247);
  --red-50: rgb(250 227 233);
  --red-100: rgb(245 191 204);
  --red-200: rgb(242 140 166);
  --red-300: rgb(237 99 134);
  --red-400: rgb(237 64 107);
  --red-500: rgb(214 42 84);
  --red-600: rgb(184 31 69);
  --red-700: rgb(155 25 57);
  --red-800: rgb(102 18 39);
  --red-900: rgb(59 16 27);
  --red-1000: rgb(31 18 21);
  --purple-0: rgb(250 247 255);
  --purple-50: rgb(241 232 252);
  --purple-100: rgb(229 212 252);
  --purple-200: rgb(216 189 255);
  --purple-300: rgb(195 153 255);
  --purple-400: rgb(171 112 255);
  --purple-500: rgb(141 75 235);
  --purple-600: rgb(113 60 188);
  --purple-700: rgb(87 50 139);
  --purple-800: rgb(64 40 97);
  --purple-900: rgb(40 23 64);
  --purple-1000: rgb(25 18 33);
  --cyan-0: rgb(240 253 255);
  --cyan-50: rgb(212 247 252);
  --cyan-100: rgb(182 238 248);
  --cyan-200: rgb(142 219 233);
  --cyan-300: rgb(96 192 209);
  --cyan-400: rgb(46 159 178);
  --cyan-500: rgb(19 126 145);
  --cyan-600: rgb(16 93 107);
  --cyan-700: rgb(14 67 76);
  --cyan-800: rgb(12 54 62);
  --cyan-900: rgb(9 41 47);
  --cyan-1000: rgb(9 26 29);
}

body[data-theme="dark"],
html.dark {
  --body-bg: var(--deep-gray-975);
  --color-title: var(--white);
  --card-elevation-bg: var(--deep-gray-900);
  --card-gray-bg: var(--deep-gray-950);
  --button-primary: linear-gradient(to bottom, #683ffc, #5735e9);
  --button-gray: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.16) 100%
    ),
    #edeff2;
  --button-secondary: rgb(35 37 41);
  --button-danger: rgb(214 42 84);
  --border: 0 0 0 1px rgba(35 37 41 / 1), 0 0 2px 0 rgba(255 255 255 / 0.06);
  --shadow-s: 0 -1px 0 0 rgba(255 255 255 / 0.04),
    0 0 0 1px rgba(255 255 255 / 0.1), 0 2px 2px 0 rgba(0 0 0 / 0.56);
  --shadow-r: 0 -1px 0 0 rgba(255 255 255 / 0.04),
    0 10px 15px -3px rgba(0 0 0 / 0.2), 0 0 0 1px rgba(255 255 255 / 0.1),
    0 5px 10px -2px rgba(0 0 0 / 0.12);
  --shadow-m: 0 -1px 0 0 rgba(255 255 255 / 0.04),
    0 20px 40px -5px rgba(0 0 0 / 0.24), 0 0 0 1px rgba(255 255 255 / 0.1),
    0 5px 15px 0 rgba(0 0 0 / 0.2);
  --tooltip: 0 -1px 0 0 rgba(255 255 255 / 0.04),
    0 15px 35px 0 rgba(0 0 0 / 0.24), 0 0 1px 0 rgba(255 255 255 / 0.32),
    0 5px 15px 0 rgba(0 0 0 / 0.2);
  --shadow-l: 0 -1px 0 0 rgba(255 255 255 / 0.04),
    0 35px 70px -10px rgba(0 0 0 / 0.32), 0 0 0 1px rgba(255 255 255 / 0.1),
    0 10px 20px 0 rgba(0 0 0 / 0.16);
  --toast: inset 0 0 0 1px rgba(255 255 255 / 0.04),
    0 20px 40px -5px rgba(0 0 0 / 0.2), 0 5px 15px 0 rgba(0 0 0 / 0.16);
  --input-active: 0 0 0 1px rgba(255 255 255 / 0.1),
    0 -1px 0 0 rgba(255 255 255 / 0.04);
  --input-hover: 0 0 0 1px rgba(255 255 255 / 0.16),
    0 -1px 0 0 rgba(255 255 255 / 0.06);
  --input-focus: 0 0 0 1px rgba(255 255 255 / 0.1),
    0 -1px 0 0 rgba(255 255 255 / 0.04), 0 0 0 4px rgba(31 144 255 / 0.64);
  --input-disabled: 0 0 0 1px rgba(255 255 255 / 0.06);
  --input-success: 0 0 0 1.5px rgba(20 132 54 / 0.56),
    0 1.5px 2px 0 rgba(0 0 0 / 0.12);
  --input-warning: 0 0 0 1.5px rgba(189 83 2 / 0.56),
    0 1.5px 2px 0 rgba(0 0 0 / 0.12);
  --input-error: 0 0 0 1.5px rgba(214 42 84 / 0.56),
    0 1.5px 2px 0 rgba(0 0 0 / 0.12);
  --color-100: var(--deep-gray-700);
  --color-300: var(--gray-600);
  --color-400: var(--gray-500);
  --color-500: var(--gray-400);
  --color-600: var(--gray-300);
  --color-700: var(--gray-200);
  --color-neon: var(--neon-blue-300);
  --color-neon-light: rgba(104, 63, 252, 0.55);
  --color-neon-50: var(--neon-blue-800);
  --color-green: var(--green-500);
  --color-red: var(--red-400);
  --color-cyan: var(--cyan-500);
  --gradient-border: 0 0.5px 2px rgba(0, 0, 0, 0.24),
    0 0 0 1px var(--color-neon);
  --halo-red: rgba(214, 42, 84, 0.16);
  --halo-green: rgba(20, 132, 54, 0.16);
  --halo-orange: rgba(189, 83, 2, 0.16);
  --halo-gray: var(--deep-gray-800);
  --halo-neon: var(--color-neon-50);
  --icon-gray-light: var(--gray-500);
  --list-bg-hover: var(--deep-gray-700);
  --graph0: var(--gray-600);
  --graph1: var(--neon-blue-500);
  --graph2: var(--sky-500);
  --graph3: var(--green-500);
  --graph4: var(--orange-500);
  --graph5: var(--red-500);
  --graph6: var(--purple-500);
  --graph7: var(--cyan-50);
  --graph8: #d82ac6;
  --graph9: #89a518;
  --graph10: var(--gray-500);
  --color-200: var(--gray-600);
  --graph-current: var(--neon-blue-300);
  --graph-past: var(--gray-600);
  --chart-area: var(--deep-gray-900);
  --separator: var(--deep-gray-850);
  --separator-elevation: var(--deep-gray-800);
  --color-focus: rgba(31, 144, 255, 0.64);
}

body[data-theme="light"],
html.light {
  color: var(--gray-500, #6d7380);
  background-color: var(--white);
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--gray-500, #6d7380);
    background-color: var(--white);
  }
}
