/* MODULES */
@import "./css/modules/Button_destructive.css";
@import "./css/modules/Button_small.css";
@import "./css/modules/Button_large.css";
@import "./css/modules/Button_primary.css";
@import "./css/modules/Button_secondary.css";
@import "./css/modules/Button_outline.css";
@import "./css/modules/Button_ghost.css";
@import "./css/modules/Button_link.css";
@import "./css/modules/Button_with_icon.css";
@import "./css/modules/Button_loading.css";

body[data-theme="dark"],
button,
html.dark {
  --button-primary: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.16) 100%
    ),
    #683ffc;
  --button-primary-color: #fff;
  --button-primary-disabled: var(--neon-blue-900);
  --button-primary-color-disabled: rgba(255, 255, 255, 0.48);
  --button-primary-color-hover: #fff;
  --button-primary-hover: var(--neon-blue-500);
  --button-gray: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.16) 100%
    ),
    #edeff2;
  --button-gray-color: var(--gray-1000);
  --button-gray-color-hover: var(--gray-1000);
  --button-gray-hover: var(--gray-50);
  --button-gray-color-disabled: var(--gray-1000);
  --button-gray-disabled: var(--gray-500);
  --button-secondary: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #232529;
  --button-secondary-color: var(--gray-200);
  --button-secondary-color-hover: var(--white);
  --button-secondary-hover: var(--deep-gray-700);
  --button-secondary-color-disabled: var(--gray-600);
  --button-secondary-disabled: var(--deep-gray-975);
  --button-ghost: transparent;
  --button-ghost-color: var(--gray-200);
  --button-ghost-hover: var(--deep-gray-800);
  --button-ghost-color-hover: var(--white);
  --button-ghost-color-disabled: var(--gray-600);
  --button-ghost-disabled: transparent;
  --button-danger: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.16) 100%
    ),
    #d62a54;
  --button-danger-color: var(--white);
  --button-danger-color-hover: var(--white);
  --button-danger-hover: var(--red-500);
  --button-danger-color-disabled: rgba(255, 255, 255, 0.48);
  --button-danger-disabled: var(--red-900);
  --button-link: transparent;
  --button-link-color: var(--neon-blue-300);
  --button-link-color-hover: var(--white);
  --button-link-hover: transparent;
  --button-link-color-disabled: var(--gray-600);
  --button-link-disabled: transparent;
  --button-dotted: var(--gray-600);
  --primary-button-active: 0 -1px 0 0 rgba(255 255 255 / 0.16),
    0 0 0 1px rgba(104 63 252 / 1), 0 1px 1px 0 rgba(0 0 0 / 0.12),
    0 1.5px 2px 0 rgba(0 0 0 / 0.56);
  --primary-button-focus: 0 0 0 4px rgba(31 144 255 / 0.64),
    0 0 0 1px rgba(104 63 252 / 1), 0 1px 1px 0 rgba(0 0 0 / 0.12),
    0 -1px 0 0 rgba(255 255 255 / 0.16), 0 1.5px 2px 0 rgba(0 0 0 / 0.56);
  --primary-button-disabled: 0 0 0 1px rgba(47 22 138 / 1);
  --secondary-button-active: 0 -1px 0 0 rgba(255 255 255 / 0.08),
    0 0 0 1px rgba(255 255 255 / 0.14), 0 1.5px 2px 0 rgba(0 0 0 / 0.56);
  --secondary-button-focus: 0 0 0 4px rgba(31 144 255 / 0.64),
    0 0 0 1px rgba(255 255 255 / 0.14), 0 -1px 0 0 rgba(255 255 255 / 0.08),
    0 1.5px 2px 0 rgba(0 0 0 / 0.56);
  --secondary-button-disabled: 0 0 0 1px rgba(255 255 255 / 0.06);
  --gray-button-active: 0 -1px 0 0 rgba(255 255 255 / 1),
    0 0 0 1px rgba(237 239 242 / 1), 0 1px 1px 0 rgba(0 0 0 / 0.16),
    0 1.5px 2px 0 rgba(0 0 0 / 0.56);
  --gray-button-focus: 0 0 0 4px rgba(31 144 255 / 0.64),
    0 0 0 1px rgba(237 239 242 / 1), 0 1px 1px 0 rgba(0 0 0 / 0.16),
    0 -1px 0 0 rgba(255 255 255 / 1), 0 1.5px 2px 0 rgba(0 0 0 / 0.56);
  --gray-button-disabled: 0 0 0 1px rgba(138 145 158 / 0.88);
  --danger-button-active: 0 -1px 0 0 rgba(255 255 255 / 0.16),
    0 0 0 1px rgba(214 42 84 / 1), 0 1px 1px 0 rgba(0 0 0 / 0.16),
    0 1.5px 2px 0 rgba(0 0 0 / 0.56);
  --danger-button-focus: 0 0 0 4px rgba(31 144 255 / 0.64),
    0 0 0 1px rgba(214 42 84 / 1), 0 1px 1px 0 rgba(0 0 0 / 0.16),
    0 -1px 0 0 rgba(255 255 255 / 0.16), 0 1.5px 2px 0 rgba(0 0 0 / 0.56);
  --danger-button-disabled: 0 0 0 1px rgba(102 18 39 / 0.64);

  --size: 14px;
  --height: 1.78rem;
  --line-height: 20px;
  --medium: calc(1 * var(--size));
  --large: calc(1.2 * var(--size));
  --small: calc(0.9 * var(--size));
  --padding-base: 0.28rem 0.42rem;
  --rounded: 0.42rem;
}

body[data-theme="dark"] button.secondary {
  background-blend-mode: soft-light, normal;
}

button {
  cursor: pointer;
  padding: var(--padding-base);
  border-radius: var(--rounded);
  height: var(--height);
  font-size: var(--size);
  line-height: var(--line-height);
  font-weight: 500;
  background-blend-mode: color-burn, normal;
  transition: all 0.35s;
  border: none;
}

button[disabled] {
  cursor: not-allowed;
}
