.presentation {
  width: 100%;
  height: 100%;
  padding-block: 5rem;
}

.presentation h1 {
  padding: 0;
  margin: 0;
}

.stack {
  --gap: 2;
  display: grid !important;
  grid-template-columns: 1fr;
  align-content: flex-start;
  gap: calc(var(--gap) * var(--space));
}

.hstack {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  flex-wrap: wrap;
}

hr {
  width: 100%;
  height: 1.2px;
  border: none;
  background: var(--deep-gray-600);
  margin-block: 4rem;
}

.block {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1.2rem;
  justify-content: space-between;
}
